<div class="flex flex-col gap-24">
    <app-header class="sticky top-0 w-full z-30">
    </app-header>
    <div class="flex  ">    
        <div class="flex flex-col justify-center items-center my-auto mx-auto">
        <header>
            <img [src]="movie?.Poster" alt="Movie Poster"> 
        </header>
        <article>
            <h2 class="font-extrabold uppercase">{{ movie?.Title }} -</h2>
            <p><span class="text-blue-600 font-medium">{{movie?.Released}} - </span>
                <span> {{ movie?.Runtime }} - </span>
                <span> {{ movie?.Language }} - </span>
                <span>Genre: {{ movie?.Genre }}  </span>
            </p>
            <p>Director: {{ movie?.Director }}</p>
            <p>Actors: {{ movie?.Actors }}</p>
            <p>Rated: {{ movie?.Rated }}</p>
            <p><span class="font-extrabold">Sinopsis</span><br> {{ movie?.Plot }}</p>
            <ul class="lg:flex gap-5 justify-center mt-6 " >
                <li *ngFor="let rating of ratings" class="md:flex md:flex-col md:mx-12  md:gap-y-4 text-center font-light border rounded-lg border-black lg:p-5">
                    Source: {{rating.Source}}<br>
                    Value: {{rating.Value}}⭐<br>        
                </li>
            </ul>
        </article>
    </div>
</div>    
</div>